
@font-face {
  font-family: Mellony;
  src: url("./assets/mellonyDryBrush.ttf");
}
p {
  font-size: 16px;
  font-family: courier;
}
.Link_Title {
  color: #E8E9F3;
  text-decoration: none;
}
.Link_Title:hover {
  color: #C9B1BD;
  text-decoration: none;
  font-size: 22px;
}
.Blog_Link_Title {
  color: #E8E9F3;
  text-decoration: none;
}
.Blog_Link_Title:hover {
  color: #C9B1BD;
  text-decoration: none;
  font-size: 25px;
}
.Blog_Button {
  font-family: Mellony;
  text-align: center;
  margin-top: 2%;
}
.Blog_Button:hover {
  font-family: Mellony;
  text-align: center;
  color: #E8E9F3;
  margin-top: 2%;
  font-size: 25px;
}
.ProjectBox_Link {
  padding-bottom: 3%;
  text-decoration: none;
  color: #E8E9F3;
}
.ProjectBox_Link:hover {
  padding-bottom: 3%;
  font-size: 14px;
  text-decoration: none;
  color: #C9B1BD;
}
span {
  color: #1F363D;
}
.slick-slide img {
  height: 350px;
  width: 100%
}
.slick-slider{
  margin: 2% 0% 15% 0%;
}
